//font
@font-face {
    font-family: 'main';
    src: url(../../assets/fonts/seoul.ttf);
}

@font-face {
    font-family: 'code';
    src: url(../../assets/fonts/FIRACODE-REGULAR.TTF);
}

main[role="content"] {
    div,
    span,
    p,
    li {
        color: $main-color4;
        font-size: 20px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $main-color4;
    }

    ul {
        margin-top: 0;
    }

}

//tags
.tag {
    padding: 0 8px;
    // background-color: rgba($main-color3, 0.5);
    // box-shadow: 1px 1px 2px $main-color3;
    border-radius: 4px;
    color: $main-color5;
}

.tag::before {
    content: "#";
}

.tag:last-child {
    padding-right: 0;
}

h1 {
    margin: 0;
    padding: 8px 16px 2px 16px;
    color: $main-color4;
    border-bottom: 1px solid $main-color2;
    line-height: 160%;
}


.inline {
    display: inline-block;
    margin-right: 32px;
}


.center {
    text-align: center;
}


.circle {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    border-radius: 10em;
    width: 15em;
    height: 15em;
}
