.post-list-table {
    width: 100%;
    border-collapse: separate;
    border-bottom: 1px solid $main-color2;

    .no-post {
        height: calc(100vh - 200px);
    }

    h1 {
        border-bottom: none;
    }

    th {
        padding: 16px 16px 10px 16px;
        color: $main-color1;
        background-color: $main-color2;
        text-align: left;
    }

    th:first-child {
        width: calc(100% - 100px);
    }

    th:last-child {
        width: 100px;
    }

    td {
        font-family: $main-font;
        padding: 0.5em 0px;
        border-bottom: 1px solid rgba($color1, 0.5);
        color: $color5;

        a {
            color: $color5;
            text-decoration: none;
            font-size: 24px;
        }

    }
}

.post {
    td:first-child {
        padding-left: 16px;
        a {
            text-decoration: none;
            font-size: 20px;
            color: $main-color3;
            
            &:hover {
                color: $main-color4;
                text-decoration: underline;
            }
        }
    }

    td:last-child {
        text-align: center;
        color: $main-color3;
    }

}