@media #{$break-point1} {
    nav[aria-label="snb"] {
        display: none;
    }

    nav[aria-label="gnb"] {
        width: calc(100% - 16px);
    }

    main[role='main'] {
        width: 100%;
    }

    .main-container {
        width: 100%;
    }

    .goup {
        right: 20px;
    }
}

@media #{$break-point2} {
    .nav-group {
        display: none;
    }
}

@media #{$break-point3} {
    .welcome-text{
        font-size: 24px;
    }
    .main-container {
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .goup {
        right: 8px;
    }

    .tags{
        float: none;
        display: block;
        width: 100%;
        .tag{
            font-size: 16px;
        }
    }

    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 20px;
    }

    li, h5, h6 {
        font-size: 16px !important;
    }
    h6::before {
        font-size: 16px !important;
    }
}