// //extend
// %h-img {
//     background-repeat: no-repeat;
//     background-size: contain;
//     text-indent: 1.5em;
// }

// //post page
// .post_title {
//     color: $color5;
//     text-shadow: 1px 1px 2px $color2;
//     text-align: center;
//     font-size: 36px;
//     line-height: 1.2em;
// }

// ;

// .post_desc {
//     margin: 1.5em;
//     color: $color3;
// }

// ;

// .post_content {
//     color: $black2;
//     font-family: $main-font;
//     line-height: 180%;
//     font-size: 24px;
//     word-break: break-all;

//     //href 
//     a {
//         color: $color4;
//         text-decoration: underline;

//         &:hover {
//             color: $color5;
//         }

//     }

//     ol,
//     ul {
//         list-style-position: inside;

//         li {
//             text-indent: -2em;

//             ol,
//             ul {
//                 li {
//                     text-indent: -2.5em;

//                     ol,
//                     ul {
//                         li {
//                             text-indent: -2.5em;
//                         }
//                     }
//                 }
//             }
//         }
//     }

//     //img
//     img {
//         @extend %img_align;
//         width: 720px;
//         height: 540px;

//         @media #{$small} {
//             width: 100%;
//             height: auto;
//         }
//     }

//     h1 {
//         @extend %h-img;
//         background-image: url('/assets/img/star.png');
//         padding-left: 24px;
//     }

//     h2 {
//         @extend %h-img;
//         background-image: url('/assets/img/check.png');
//         padding-left: 24px;
//     }


//     h3 {
//         @extend %h-img;
//         background-image: url('/assets/img/right-arrow.png');
//         padding-left: 24px;
//     }


//     h4 {
//         @extend %h-img;
//         background-image: url('/assets/img/warn.png');
//     }


//     h1,
//     h2,
//     h3,
//     h4,
//     h5,
//     h6 {
//         color: $black1;
//         margin-top: 2em;
//         margin-bottom: 0;
//         line-height: 1.3em;
//     }

//     hr {
//         border: 0.5px solid $color1;
//         background-color: $color1;
//         margin-bottom: 2em;
//     }

//     blockquote {
//         padding: 1em 2em;
//         color: $color4;
//         font-family: $main-font;
//         text-align: left;
//         background-color: rgba($color1, 0.3);
//         border-radius: 3px;
//         border-left: $color1 10px solid;
//     }

//     pre {
//         padding: 2rem;
//         text-align: left;
//         background-color: rgba($black1, 0.9);
//         box-shadow: 1px 1px 2px rgba($black1, 0.7);
//         border-radius: 4px;
//         overflow-x: auto;

//         &::-webkit-scrollbar {
//             height: 5px;
//         }

//         &::-webkit-scrollbar-thumb {
//             background-color: white;
//             height: 3px;
//             border-radius: 3px;
//         }
//     }

//     code {
//         font-family: $code-font, $main-font;
//         font-size: 20px;
//         color: white;
//     }

//     em {
//         color: $brown4;
//         font-weight: bold;
//         background-color: $yellow1;
//         padding: 0.2em 0.8em;
//         border-radius: 5px;
//     }

//     b,
//     strong {
//         color: $color5;
//     }

//     table {
//         border-collapse: collapse;
//         width: 100%;
//         margin: 3em 0;

//         th,
//         td {
//             padding: 1em;
//             text-align: center;
//         }

//         tr:nth-child(2n) {
//             background-color: rgba($color1, 0.1);
//         }

//         tr:nth-child(2n+1) {
//             background-color: rgba($color1, 0.3);
//         }

//         th {
//             border-bottom: 2px solid $color2;
//             background-color: rgba($color1, 0.7);
//             color: $color4;
//         }
//     }
// }

// .post_box {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-around;
//     align-content: space-around;
// }

// .post_grid {
//     display: grid;
//     grid-template-columns: 1fr 3fr;

//     @media #{$small} {
//         display: inline-block;
//         grid-template-columns: none;
//     }

//     @media #{$medium} {
//         display: inline-block;
//         grid-template-columns: none;
//     }
// }

.post-header {
  .go-back {
    margin-right: 30px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .date {
    float: right;
    font-size: 16px;
    font-weight: 200;

    .fa-calendar {
      margin-right: 16px;
    }
  }

  .post-title {
    border-top: 1px solid $main-color2;
    margin-top: 10px !important;
    padding-left: 0;
    padding-right: 0;
  }

  .tags {
    float: right;
    font-size: 16px;
    font-weight: 200;
  }
}

.post-content {
  h2:before {
    content: "# ";
  }

  h6 {
    font-size: 20px;
    font-weight: 550;
    border-top: 1px solid rgba($main-color2, 0.2);
    border-bottom: 1px solid rgba($main-color2, 0.2);
    padding-top: 24px;
    padding-bottom: 24px;

    &::before {
      content: "▷ ";
    }
  }

  a {
    color: sandybrown;
    margin: 0 4px;
  }

  ul {
    li {
      margin-bottom: 8px;
    }

    li:last-child {
      margin-bottom: 0px;
    }
  }

  code {
    font-family: $main-font;
    font-size: 16px;
    color: $main-color6;
    font-weight: bold;
    background-color: rgba($main-color2, 0.1);
    border-radius: 4px;
    padding: 4px 8px;
    margin-bottom: 4px;
    display: inline-block;
  }

  pre {
    padding: 2rem;
    text-align: left;
    background-color: $main-color4;
    box-shadow: 1px 1px 2px $main-color4;
    border-radius: 4px;
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: white;
      height: 3px;
      border-radius: 3px;
    }

    code {
      font-family: $code-font, $main-font;
      font-size: 16px;
      color: $main-color1;
      background-color: transparent;
      padding: 0;
      font-weight: 500;
    }
  }

}