$color1       : rgb(241, 240, 209);
$color2       : rgb(228, 206, 168);
$color3       : rgb(238, 184, 132);
$color4       : rgb(226, 155, 122);
$color5       : rgb(203, 129, 111);



//colors
$coral1       : #ffe6e6;
$coral2       : #ffb3b3;
$coral3       : #ff8080;

$brown1       : #f2e6d9;
$brown2       : #d9b38c;
$brown3       : #bf8040;
$brown4       : #b35900;
$brown5       : #663300;

$yellow1      : #ffffe6;
$yellow2      : #ffffb3;

$gray1        : #f2f2f2;
$gray2        : #cccccc;
$gray3        : #a6a6a6;

$black1       : #595959;
$black2       : #404040;
$black3       : #262626;

$pastel_red  	    : #ffcccc;	
$pastel_orange      : #ffe6cc;	
$pastel_yellow      : #ffffcc;	
$pastel_green       : #d9ffcc;	
$pastel_blue        : #ccffff;	
$pastel_indigo      : #ccccff;	
$pastel_lavender  	: #e6ccff;	

$font_size          : 16;
$line_height        : 26;

//media
$small              : "only screen and (max-width: 30em)";
$medium             : "only screen and (min-width: 30.1em) and (max-width: 48em)";
$large              : "only screen and (min-width: 48.1em) and (max-width: 62.5em)";
$x_large            : "only screen and (min-width: 75em)";

// fonts
$main-font          : 'main', 'sans-serif';
$code-font          : 'code', 'sans-serif';

// main color
$main-color1        : #F2EFE4;
$main-color2        : #A6A498;
$main-color3        : #73726E;
$main-color4        : #3F403A;
$main-color5        : #0D0D0D;
$main-color6        : #ff8080;

// media
$break-point1       : "only screen and (max-width: 1300px)";
$break-point2       : "only screen and (max-width: 1100px)";
$break-point3       : "only screen and (max-width: 500px)";
