---
layout: page
---

{% assign pages = site.pages %}
{% for document in site.documents %}
    {% assign pages = pages | push: document %}
{% endfor %}

{% assign subpages = pages | where: "main", false | sort: "order" %}
{% assign pages = pages | where: "main", true | sort: "order" %}

{% for item in pages %}
    {% if item.slug == page.slug%}
        {% for subitem in subpages %}
            {% if subitem.category == item.slug %}
                <h1>
                    <i class="far fa-folder-open" color="sandybrown"></i>
                    {{subitem.title}}</h1>
                <table class="category-table">
                    <tr>
                        <th>TITLE</th>
                        <th>DATE</th>
                    </tr>
                    {% for i in site.categories[page.slug] %}
                        {% if subitem.slug == i.categories.last%}
                            <tr>
                                <td><a href="{{ i.url}}">{{i.title}}</a></td>
                                <td><i class="far fa-calendar"></i> {{i.date | date:"%Y-%m-%d"}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}